#imgofproduct{
    width: 11rem !important;
    height: 11rem !important;
    position: relative !important;
    left: 4em !important;
}


#mainlogo{
    display: block !important;
    margin: auto !important;
}