<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/products">products </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/users">users </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/posts">posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/register">Register</a>
    </li>
    <!-- register and login -->
  
  </ul>

  <a class="navbar-brand" routerLink="/home">

    <img id="hawary" [src]="LogoHeader" width="auto" height="auto" alt="">

  </a>
