<p>hello posts </p>
<div class="cardme">  
    <div *ngFor="let item of postsData"  (click)="goToCommentNum(item)" [class.selected]="isSelected(item)"  class="card  " style="width: 18rem;">
      <div class="card-header">
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{item.id}}</li>
        <li class="list-group-item">{{item.title}}</li>
        <li class="list-group-item">{{item.body}}</li>
      </ul>
    </div>
    
    </div>

    <!-- id,title,body -->